In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("fish_test_data_100k.csv")

In [8]:
df

          Length      Weight  Label
0      39.049430  898.511670  Bream
1      12.776059   13.078934  Smelt
2      12.761093   18.665042  Smelt
3      30.781178  566.790054  Bream
4      13.145714    9.207782  Smelt
...          ...         ...    ...
99995  12.447209    9.188887  Smelt
99996  31.082503  389.510045  Bream
99997  13.950318   13.861875  Smelt
99998  32.331884  398.421333  Bream
99999  35.699531  667.653606  Bream

[100000 rows x 3 columns]

In [12]:
from sklearn.neighbors import KNeighborsclassifier

ImportError: cannot import name 'KNeighborsclassifier' from 'sklearn.neighbors' (/home/kyuseok00/.pyenv/versions/3.11.9/envs/note/lib/python3.11/site-packages/sklearn/neighbors/__init__.py)